@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;

}
body{
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

:root {
  --main-color: #8884d8;
}


.mainDiv{
  padding-top: 10vh;
  padding-top: 5vh;
  /* background-color: red; */
}


.mainDiv, .toggles{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.toggles{
  justify-content: center;

}

h1{
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2rem;

}

.testMain {
  display: flex;
  justify-content: center;
}


.aggregates{
  font-family: 'Urbanist', sans-serif;

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.toggle-button {
  background-color: #ffffff;
  color: rgb(69, 66, 66); 
  border: 1px solid rgba(69, 66, 66, 0.3); 
  border-radius: 1vw;
  padding: 5px 10px;
  cursor: pointer;
  padding-right: 1vw;

}

.toggle-button.active {
  background-color: #8884d8;
  border: none;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.6s ease, box-shadow 0.3s ease; /* Add the transition property */
}


.aggregates-container {
  width: 31.5vw;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Urbanist', sans-serif;
  margin-bottom: 2vh;
}

.aggregate-item {
  text-align: center;
  margin: 0 20px;
}

.aggregate-value {
  font-size: 24px;
  font-weight: bold;
}

.aggregate-label {
  font-size: 14px;
  color: #888;
}


.graphContainer {
  font-family: 'Urbanist', sans-serif;

  width: 600px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add the desired box-shadow */
  text-align: center; /* Center the text horizontally */
  padding: 16px; /* Add padding to separate the chart from the container edge */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.b-error.active {
  background-color: red;
}

.b-warn.active {
  background-color: #FFA500;
}

.b-debug.active {
  background-color: #546A7B;
}

.b-info.active {
  background-color: blue;
}

.b-daily.active {
  background-color: black;
}